$warning-color: #c0392b;
$font-light: #ecf0f1;
$font-dark: #0a1c2e;
$font-link: #2980b9;

.kickoff-start {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100vw;

  h1,
  p {
    color: $font-light;
  }

  a {
    color: $font-link;
    text-decoration: none;

    &:hover,
    &:link,
    &:visited,
    &:active {
      color: $font-link;
      text-decoration: none;
    }
  }

  .warning {
    background-color: $warning-color;
    border-radius: 4px;
    color: $font-dark;
    display: inline;
    padding: 10px;
  }
}
