.react-logo {
  background-image: url('images/react-logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  margin: 0 auto;
  width: 200px;
}
