.note-editor {
  input[type="text"],
  textarea {
    color: white;
    font-family: 'Overpass', sans-serif;
    margin: 10px 0;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #5DB7DE;
    transition: border-bottom-color 1s;

    &:focus {
      outline: none;
      border-bottom-color: #99E0FF;
    }
  }

  textarea {
    text-align: center;
  }

  input[type="submit"] {
    font-family: 'Overpass', sans-serif;
    width: 100%;
    background: none;
    text-align: right;
    border: none;
    color: white;

    &:disabled {
      opacity: 0.2;
    }
  }
}